<div [ngClass]="{'slide-out': isModalClosed}" class="modal">
  <img src="assets/images/modal.jpg">
  <div class="modal-header">
    <svg (click)="closeModal()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6 17.9328L17.9328 5.99999" stroke="white" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
      <path d="M6 6.0672L17.9328 18" stroke="white" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
    </svg>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
</div>
