<section>
  <div class="container">
    <div class="contact-us">
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="social">
        <h3>or contact us through</h3>
        <p>
          <span>info@stgc.global</span>
          <br><br>
          <span>
            Sustainable Tourism Global Center Ministry of Tourism
          </span>
          <br><br>
          <span>
            PO Box 66680, Riyadh 11586 Kingdom of Saudi Arabia
          </span>
        </p>
      </div>
      <div class="contact-form">
        <h2>Have a question?<br>please get in touch</h2>
        <form [formGroup]="contactForm" #contactFormRef>
          <div class="input-container">
            <input required [formControl]="getFromControl('name')" type="text" placeholder="Your Name">
            <input required [formControl]="getFromControl('email')" type="email" placeholder="Your Email Address">
            <textarea required rows="10" [formControl]="getFromControl('message')" name="message" placeholder="Message"></textarea>
          </div>
          <button class="confirm-button" type="button" (click)="submit()">
            <div class="borders title">
              <div class="animate">
                <span class="animate-slide">Contact us</span>
              </div>
              <svg class="left-border" width="1" height="64" viewBox="0 0 1 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0V16" stroke="white" stroke-width="2"/>
                <path d="M0 48V64" stroke="white" stroke-width="2"/>
              </svg>
              <svg class="right-border" width="1" height="64" viewBox="0 0 1 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0V16" stroke="white" stroke-width="2"/>
                <path d="M0 48V64" stroke="white" stroke-width="2"/>
              </svg>
            </div>
            <div class="borders icon">
              <svg class="right-border" width="1" height="64" viewBox="0 0 1 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0V16" stroke="white" stroke-width="2"/>
                <path d="M0 48V64" stroke="white" stroke-width="2"/>
              </svg>
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 13L13 1M13 1V9.66667M13 1H3.66667" stroke="white"/>
              </svg>
            </div>
          </button>
        </form>
      </div>
    </div>

    <div class="footer-content">
      <div class="nav">
        <img src="assets/images/STGC.svg">
        <div class="links">
          <a [routerLink]="['/home']">Home</a>
          <a [routerLink]="['/about']">About</a>
          <a [routerLink]="['/partnership']">Partnership</a>
          <a [routerLink]="['/contact-us']">Contact us</a>
        </div>
      </div>
      <div class="copy-write">
        <p>Sustainable Tourism Global Center.© All rights reserved</p>
        <a>Privacy Policy</a>
      </div>
    </div>
  </div>
</section>

<app-modal *ngIf="isMessageModalOpen" (closeModal)="isMessageModalOpen= false">
  <div class="message">
    <p>Thank you {{getFromControl('name').value}} for showing your interest,<br><br>Our team will be in contact with you</p>
  </div>
</app-modal>
