

<section #header class="header">
  <img src="assets/images/partners-bg.jpg">
  <div class="floating-images">
    <p fadeIn>To drive sustainable tourism, STGC is launching a Global Research Center for Climate, Nature & Communities. The Center will hire top researchers and collaborate with leading universities and organizations to provide actionable insights, tools, and solutions.</p>
    <img #picOne class="pic-1" src="assets/images/pic1.jpg">
    <img #picTwo class="pic-2" src="assets/images/pic2.jpg">
    <img #picThree class="pic-3" src="assets/images/pic3.jpg">
    <h1><span fadeIn>Global</span><br><span fadeIn>Research Center</span></h1>
  </div>
</section>

<section class="desc-section">
  <div #descOne class="desc">
    <p>
      <span>
        The strategy for the Center has been developed
      </span>
      <span >
        through a collaborative approach and a robust
      </span>
      <span >
        validation process, with over 300 leaders with
      </span>
      <span >
        expertise in sustainability and/or Travel & Tourism
      </span>
      <span >
        from across the world, including governments and
      </span>
      <span class="underline" >
        leadings international organizations.
      </span>
    </p>
  </div>
  <div #descTwo class="desc">
    <p>
      <span >
        The Center aims to partner with 100 universities
      </span>
      <span >
        from diverse regions around the world by 2030 -
      </span>
      <span >
        North America, Europe, Asia-Pacific, Latin America,
      </span>
      <span >
        Africa and MENA - and to engage with international
      </span>
      <span class="underline" >
        organizations and industry associations.
      </span>
    </p>
  </div>
</section>

<section style="display: none;" class="sponsors-container">
  <div #sponsorsContainer appHorizontalScroll class="sponsors">
    <h2 fadeIn>We collaborate with</h2>
    <div class="logos-container">
      <img *ngFor="let logo of logosNumbers;" [style]="logo === 14 ? 'max-width:295px;width:295px' : ''" [src]=" 'assets/images/logos/logo'+logo +'.png' ">
    </div>
  </div>
  <div class="buttons-group" [style.position]="isScrolledToConfirmationButtonGroup ? 'fixed' : 'absolute' ">
    <button
      [ngClass]="{'full-width-animation': isScrolledToConfirmationButtonGroup}"
      class="confirm-button green-button"
      type="button"
      (click)="navigateToFormSection()"
    >
      <span class="top-border"></span>
      <span class="bottom-border"></span>
      <span class="line-top-1 line-top"></span>
      <span class="line-top-2 line-top"></span>
      <span class="line-top-3 line-top"></span>
      <span class="line-bottom-1 line-bottom"></span>
      <span class="line-bottom-2 line-bottom"></span>
      <span class="line-bottom-3 line-bottom"></span>
      <div class="borders title">
        <div class="animate">
          <span class="animate-slide">Interested in a partnership?</span>
        </div>
      </div>
      <div class="borders icon">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 13L13 1M13 1V9.66667M13 1H3.66667" stroke="#2EA47F"/>
        </svg>
      </div>
    </button>
    <button #confirmationButtonRef1 [ngClass]="{'full-width-animation': isScrolledToConfirmationButtonGroup}"  class="confirm-button green-button" type="button"
      (click)="navigateToTop()"
    >
      <span class="top-border"></span>
      <span class="bottom-border"></span>
      <span class="line-top-1 line-top"></span>
      <span class="line-top-2 line-top"></span>
      <span class="line-top-3 line-top"></span>
      <span class="line-bottom-1 line-bottom"></span>
      <span class="line-bottom-2 line-bottom"></span>
      <span class="line-bottom-3 line-bottom"></span>
      <div class="borders title">
        <div class="animate">
          <span class="animate-slide">More about our partnerships</span>
        </div>
      </div>
      <div class="borders icon">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 13L13 1M13 1V9.66667M13 1H3.66667" stroke="#2EA47F"/>
        </svg>
      </div>
    </button>
  </div>
</section>

<section appHorizontalScroll #publications class="publications">
  <div class="publications-container">
    <h2 fadeIn customClass="underline" >Publications</h2>
    <div class="scroll-wrapper">
      <div class="cards">
        <div
          *ngFor="let card of cards;let index = index;let odd = odd"
          class="card-container"
          [style]="odd ? 'align-items: start;' : 'align-items: end;'"
          fadeIn customClass="slide-up" [customOnly]="true"
        >
        <div class="wrapper">
          <div class="card">
            <div class="card-front">
              <img fadeIn customClass="zoom-in" [customOnly]="true" [src]="card.image"/>
            </div>
            <div class="card-back">
              <div class="titles">
                <p class="card-name">{{card.name}}</p>
                <p class="card-desc">{{card.desc}}</p>
              </div>
              <button (click)="toggleDownloadModal(card)">
                Read more
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 8L22 12L18 16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M2 12H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-modal *ngIf="isDownloadModalOpened" (closeModal)="toggleDownloadModal()">
  <div class="contact-form">
    <h2 fadeIn>Fill in the form to download publication</h2>
    <form class="publication-form" [formGroup]="downloadFormGroup" #downloadFormGroupRef>
      <div class="input-container">
        <div class="underline-input">
          <input required [formControl]="getFromControl('name')" type="text" placeholder="Name">
          <div class="line-progress"></div>
        </div>
        <div class="underline-input">
          <input required email [formControl]="getFromControl('email')" type="email" placeholder="Email">
          <div class="line-progress"></div>
        </div>
        <div class="underline-input">
          <input required [formControl]="getFromControl('organization')" type="text" placeholder="Organization">
          <div class="line-progress"></div>
        </div>
        <div class="underline-input">
          <input required [formControl]="getFromControl('position')" type="text" placeholder="Position">
          <div class="line-progress"></div>
        </div>
      </div>
      <button class="confirm-button full-width-animation" type="button" (click)="submit()">
        <span class="top-border"></span>
        <span class="bottom-border"></span>
        <span class="line-top-1 line-top"></span>
        <span class="line-top-2 line-top"></span>
        <span class="line-top-3 line-top"></span>
        <span class="line-bottom-1 line-bottom"></span>
        <span class="line-bottom-2 line-bottom"></span>
        <span class="line-bottom-3 line-bottom"></span>
        <div class="borders title">
          <div class="animate">
            <span class="animate-slide">Download</span>
          </div>
        </div>
        <div class="borders icon">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13L13 1M13 1V9.66667M13 1H3.66667" stroke="white"/>
          </svg>
        </div>
      </button>
    </form>
  </div>
</app-modal>

<section #contactUsForm>
  <div class="container">
    <div class="contact-us">
      <h2 class="main-title"><span fadeIn>Interested</span><br><span fadeIn customClass="underline" class="underline-white">in partnering?</span></h2>
      <div class="contact-us-container">
        <div class="social">
        </div>
        <div class="contact-form">
          <form [formGroup]="contactForm" #contactFormRef>
            <div class="input-container">
              <div class="underline-input">
                <input required [formControl]="getFromControlContactForm('name')" type="text" placeholder="Your Name">
                <div class="line-progress"></div>
              </div>
              <div class="underline-input">
                <input required [formControl]="getFromControlContactForm('email')" type="email" placeholder="Your Email Address">
                <div class="line-progress"></div>
              </div>
              <div class="underline-input">
                <textarea required rows="10" [formControl]="getFromControlContactForm('message')" name="message" placeholder="Message"></textarea>
                <div class="line-progress"></div>
              </div>
            </div>
            <button #confirmationButtonRef [ngClass]="{'full-width-animation': isScrolledToConfirmationButton}" class="confirm-button" type="button" (click)="submitContactForm()">
              <span class="top-border"></span>
              <span class="bottom-border"></span>
              <span class="line-top-1 line-top"></span>
              <span class="line-top-2 line-top"></span>
              <span class="line-top-3 line-top"></span>
              <span class="line-bottom-1 line-bottom"></span>
              <span class="line-bottom-2 line-bottom"></span>
              <span class="line-bottom-3 line-bottom"></span>
              <div class="borders title">
                <div class="animate">
                  <span class="animate-slide">Contact us</span>
                </div>
              </div>
              <div class="borders icon">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 13L13 1M13 1V9.66667M13 1H3.66667" stroke="white"/>
                </svg>
              </div>
            </button>
          </form>
        </div>
      </div>

    </div>

    <div class="footer-content">
      <div class="nav">
        <img [routerLink]="['/home']" src="assets/images/STGC-black.svg" fadeIn>
        <div class="links">
          <a [routerLink]="['/home']" fadeIn>Home</a>
          <a [routerLink]="['/about']" fadeIn>About</a>
          <a [routerLink]="['/partnership']" fadeIn>Partnership</a>
          <a [routerLink]="['/contact-us']" fadeIn>Contact us</a>
        </div>
      </div>
      <div class="copy-write">
        <p fadeIn>Sustainable Tourism Global Center.© All rights reserved 2030</p>
        <a fadeIn>Privacy Policy</a>
      </div>
    </div>
  </div>
</section>

<app-modal *ngIf="isMessageModalOpen" (closeModal)="isMessageModalOpen= false">
  <div class="message">
    <p fadeIn>Thank you {{getFromControlContactForm('name').value}} for showing your interest,<br><br>Our team will be in contact with you</p>
  </div>
</app-modal>

<app-modal *ngIf="isSuccessMessageModalOpen" (closeModal)="isSuccessMessageModalOpen= false">
  <div class="message">
    <p fadeIn>Thank you {{getFromControl('name').value}} for showing your interest.</p>
  </div>
</app-modal>
